@import url(http://fonts.googleapis.com/css?family=Lato);

/*---------------------- Fonts ----------------------*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.row {
	text-align: center;
}	

header {
	height: 350px;
	background-image: url('../img/headerBG.jpg');
	color: #fff;
}

header.sticky {
	display: none;
	position: fixed;
	background: none;
	top: 0;
  	font-size: 24px;
  	line-height: 48px;
  	height: 70px;
  	text-align: left;
  	padding-left: 20px;
  	z-index: 2;
  	width: 100%;
}

.sticky .head-overlay{
	background: #007EA7;
}


header.sticky .logo{
	background-image: url('../img/logo_sticky_l.png');
	background-repeat: no-repeat;
	width: 249px;
	height: 55px;
}

.head-overlay {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 52, 89, .7);
	position: absolute;
	left: 0;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.quote {
	background-color: #007EA7;
	color: #fff;
}

.quote p {
	padding: 10px;
	font-size: 30px;
	font-style: italic;
}

.about, .contact h1{
	padding-top: 30px;
}

hr {
	border: 2px solid #007ea7;
	width: 50px;
	margin: 0 auto;
}

.about {
	background-color: #eee;
}

.about p {
	padding-top: 10px;
}

.logo {
	background-image: url('../img/core_code_logo_l.png');
	width: 960px;
	height: 560px;
}

.people h1, p {
	padding-bottom: 20px;
}

.people h1{
	padding-top: 20px;
}

.p1, .p2{
	padding-top: 20px;
}

.profpic{
	width: 150px;
	height: 150px;
}

.profpicxl{
	width: 200px;
	height: 200px;
	padding-top: 20px;
}

.more {
	display: none;
}

.bmore {
	color: #007ea7;
	cursor: pointer;
}

.servcont{
	padding-top: 20px;
}

.servcont i, .options i{
	color: #007ea7;
}

.services h1{
	padding-top: 20px;
}


.fa {
	font-size: 40px;
	color: rgba(0, 52, 89, .5);
}

a .fa{
	color: #007ea7;
	-moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

a .fa:hover{
	color: #003459;

}

.contact {
	background: #eee;
}

.options{
	padding-top: 20px;
}

input {
	text-align: center;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	font-size: 18px;
	outline: none;
	width: 16em;
}

textarea {
	height: 5em!important;
	font-size: 18px;
	outline: none;
	resize: none;
}

.field {
	background-color: #fff;
	border: 1px solid #eee;
	text-align: center;
	width: 16em;
	height: 2.5em;
}

.submit {
	background-color: #007ea7;
	color: #fff;
	font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 16em;
	height: 2em;
	margin-top: 15px;
}

.mail {
	display: none;
}

footer{
	text-align: center;
	bottom: 0;
	color: #fff;
	padding: 10px;
	background-color: #007ea7;
}

::-webkit-scrollbar { 
    display: none; 
}

@media (max-width: 960px) {
	.logo {
		background-image: url('../img/core_code_logo_m.png');
		background-repeat: no-repeat;
		width: 418px;
		height: 212px;
	}	 

	header.sticky .logo{
		background-image: url('../img/logo_sticky_m.png');
		background-repeat: no-repeat;
		width: 112px;
		height: 55px;
	}
}

@media (max-width: 480px) {
	.logo {
		background-image: url('../img/core_code_logo_s.png');
		background-repeat: no-repeat;
		width: 232px;
		height: 211px;
	}	 

	header.sticky .logo{
		background-image: url('../img/logo_sticky_s.png');
		background-repeat: no-repeat;
		width: 61px;
		height: 55px;
	}
}